
/* cuerpo */


input:nth-of-type(2):checked~.contenido_w {
  left: 480px;
}

.encabezado input:nth-of-type(3):checked~.contenido_w {
  left: 720px;
}
.contenido_w {
  position: relative;
  width: var(--left);
  height: 1030px;
  display: flex;
  flex-direction: row;
  transition: 0.2s;
}
.status{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.calls{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.cuerpo {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.cuerpo__chat {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gris-opaco);
  align-items: stretch;
  padding: 10px;
  margin-bottom: 20px;
}
.chat__perfil {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.foto {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
.chat__contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;
  margin: 10px 0;
}
.chat__hora {
  margin: 20px;
}

.telefono__burbuja {
  display: flex;
  color: var(--verde-manzana);
  width: 50px;
  height: 50px;
  font-size: 400%;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  padding: 10px;
  position: absolute;

}